.ContextTabsWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3.4rem 3.4rem;
}

.ContextTabsWrapper .contextSettingsButton {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 0.2rem;
}
.ContextTabsWrapper .contextSettingsButton .settingsIcon, .ContextTabsWrapper .undoButton .undoIcon {
    fill: var(--text-colour);
    width: 2.4rem;
    height: 2.4rem;
    padding-top: 0.3rem;
    cursor: pointer;
}
.ContextTabsWrapper .contextSettingsButton .settingsIcon:hover, .ContextTabsWrapper .undoButton .undoIcon:hover {
    fill: var(--dull-text-colour);
}

.ContextTabsWrapper .undoButton {
    grid-column-start: 3;
    grid-column-end: 4;
    padding-top: 0.2rem;
}

.ContextTabsWrapper .greyedOut .undoIcon {
    fill: var(--editor-background-colour);
}
.ContextTabsWrapper .greyedOut .undoIcon:hover {
    fill: var(--editor-background-colour);
}

.ContextTabsWrapper .navigation-tabs-container {
    grid-column-start: 1;
    grid-column-end: 2;
    
    background-color: rgb(0,0,0,0);
    display: flex;
    justify-content: flex-start;
    height: 100%;
    line-height: 3.4rem;
    overflow: hidden;
}

.ContextTabsWrapper .navigation-tabs-container .navigation-tab {
    /* font size and padding is different depending on screen width. Thus, it's defined in GridLayout.css */
    flex-shrink: 1;
    text-align: center;
    cursor: pointer;
    background-color: var(--sidebar-background-colour);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ContextTabsWrapper .navigation-tabs-container > .active-navigation-tab {
    background-color: var(--editor-background-colour);
}

@media (max-width: 800px) {
    /* Scroll bar for context tabs instead of shrinking, when in mobile view */
    .ContextTabsWrapper .navigation-tabs-container::-webkit-scrollbar {
        height: 0.8rem; /* Height of horizontal scrollbars */
        background-color: var(--sidebar-background-colour); 
        opacity: 1;
    }
    .ContextTabsWrapper .navigation-tabs-container {
        scrollbar-color: var(--sidebar-background-colour) var(--dull-text-colour);
    }
    .ContextTabsWrapper .navigation-tabs-container::-webkit-scrollbar-thumb {
        background-color: var(--dull-text-colour);
        opacity: 0.5;
    }

    .ContextTabsWrapper .navigation-tabs-container {
        overflow-x: auto;
    }

    .ContextTabsWrapper {
        grid-template-columns: 1fr 4.6rem 3.4rem;
        max-height: 4.5rem;
    }
    .ContextTabsWrapper .contextSettingsButton {
        padding-right: 1rem;
        padding-left: 0.2rem;
        border-left: 1px solid var(--divider-colour-lighter);
    }

    .ContextTabsWrapper .navigation-tabs-container .navigation-tab {
        flex-shrink: 0;
    }
}
