.ContextTabsWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3.4rem 3.4rem;
}

.ContextTabsWrapper .contextSettingsButton {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 0.2rem;
}
.ContextTabsWrapper .contextSettingsButton .settingsIcon, .ContextTabsWrapper .undoButton .undoIcon {
    fill: var(--text-colour);
    width: 2.4rem;
    height: 2.4rem;
    padding-top: 0.3rem;
    cursor: pointer;
}
.ContextTabsWrapper .contextSettingsButton .settingsIcon:hover, .ContextTabsWrapper .undoButton .undoIcon:hover {
    fill: var(--dull-text-colour);
}

.ContextTabsWrapper .undoButton {
    grid-column-start: 3;
    grid-column-end: 4;
    padding-top: 0.2rem;
}

.ContextTabsWrapper .greyedOut .undoIcon {
    fill: var(--editor-background-colour);
}
.ContextTabsWrapper .greyedOut .undoIcon:hover {
    fill: var(--editor-background-colour);
}

.ContextTabsWrapper .navigation-tabs-container {
    grid-column-start: 1;
    grid-column-end: 2;
    
    background-color: rgb(0,0,0,0);
    display: flex;
    justify-content: flex-start;
    height: 100%;
    line-height: 3.4rem;
    overflow: hidden;
}

.ContextTabsWrapper .navigation-tabs-container .navigation-tab {
    /* font size and padding is different depending on screen width. Thus, it's defined in GridLayout.css */
    flex-shrink: 1;
    text-align: center;
    cursor: pointer;
    background-color: var(--sidebar-background-colour);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ContextTabsWrapper .navigation-tabs-container > .active-navigation-tab {
    background-color: var(--editor-background-colour);
}