.board > .creation-form {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    
    box-sizing: border-box;
    width: calc(100% - 1.2rem);
    height: calc(100% - 0.6rem);

    background-color: var(--editor-background-colour);
}
.wrapper > .creation-form {
    display: inline-flex;
    flex-direction: column;
    position: absolute;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    top: 0rem;
    left: 0rem;

    background-color: var(--middle-tone-background-colour);
}

.creation-form h2 {
    flex-grow: 0;
}
.board > .creation-form form {
    flex-grow: 1;
    padding-top: 1.6rem;
}
.wrapper > .creation-form form {
    padding-top: 1.6rem;
}

.board .creation-form .button {
    position: absolute;
    right: 0.5rem;
    top: 1.2rem;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/* Style the submit button itself */
input[type=submit], .cancelButton {
    box-sizing: border-box;
    border-radius: 0%;
    width: 8rem;
    height: 2.35rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    cursor: pointer;
    border: 1px solid var(--text-colour);
    line-height: 100%;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
input[type=text] {
    border-radius: 0%;
    box-sizing: border-box;
    height: 2.35rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: 1px solid var(--text-colour);
    line-height: 100%;
}

.board > .creation-form input[type=submit], .wrapper > .creation-form input[type=submit], .contextManagerPage .creation-form input[type=submit], .cancelButton {
    background-color: rgba(0,0,0,0);
    border: 1px solid var(--sidebar-background-colour);
    color: var(--text-colour);
}
.board > .creation-form input[type=submit]:hover, .wrapper > .creation-form input[type=submit]:hover, .contextManagerPage .creation-form input[type=submit]:hover, .cancelButton:hover {
    background-color: var(--sidebar-background-colour);
}

.creation-form .iconButton {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    fill: var(--text-colour);
}
.creation-form .iconButton:hover {
    fill: var(--dull-text-colour);
}
