/* 'global' variables for spacings, colours, etc. */
#appPageRoot {
    --top-padding-amount: 0.4rem;
    --board-spacing-amount: 0.6rem;

    --active-tasks-min-total-width: 100rem;
    --active-tasks-min-total-width-when-squashed: 80rem;
    --active-tasks-single-board-max-width: 45rem;
    --active-tasks-single-board-min-width: 30rem;
    --backlog-tasks-total-width: 33.6rem;
    --backlog-tasks-total-width-squashed: 25rem;

    --divider-column-width: 0rem;
    --border-radius: 0rem;
}

/* NOTE: NEED TO USE A SASS PREPROCESSOR TO DO VARIABLE BASED CALCULATION FOR MEDIA QUERIES!
 * CSS DOES NOT SUPPORT VARIABLES IN MEDIA QUERIES NATIVELY! */
@media (min-width: 1270px) {
    #appPageRoot {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 0.8rem minmax(auto, 115rem) var(--divider-column-width) minmax(var(--backlog-tasks-total-width-squashed), var(--backlog-tasks-total-width)) 0.8rem 1fr;
        grid-template-rows: 3.4rem 3.4rem 1fr auto auto;
    }
    .Header {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .HeaderLeftBlock {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .HeaderRightBlock {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .ContextTabsWrapper {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .contextManagerPage {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .ActiveTaskSection {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;

        max-height: max(80rem, 100vh - 61rem);
        width: 100%;

        min-width: var(--active-tasks-min-total-width);
        padding-left: var(--board-spacing-amount);
        padding-right: var(--board-spacing-amount);

        display: inline-flex;
        justify-content: space-between;
    }
    .BacklogSection {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 5;

        box-sizing: border-box;
        width: 100%;
        height: 100%;

        border-left: 1px solid var(--divider-colour);
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .TaskStatisticsSection {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;

        border-top: 1px solid var(--divider-colour);

        display: inline-grid;

        /* 3 evenly spaced columns to define the summary blocks, which contain the radial graphs */
        grid-template-columns: 1fr 1fr 1fr;
        
        /* Top row for the summary blocks, the next three rows for the timeline graphs. Hardcoded heights :) */
        grid-template-rows: 22rem 20rem;
    }
    .TaskStatisticsSection .RadialSummaryBlock {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .TaskStatisticsSection .RadialSummaryBlock ~ .RadialSummaryBlock {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .TaskStatisticsSection .RadialSummaryBlock ~ .RadialSummaryBlock ~ .RadialSummaryBlock {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .TaskStatisticsSection .historyBarChartWrapper {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .Footer {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .board {
        padding: 0.6rem;
        padding-bottom: 0rem;   /* tasks have a margin on the bottom, which will form this spacing instead */
    }
    .ContextTabsWrapper .navigation-tabs-container .navigation-tab {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.8rem;
    }
}
@media (max-width: 1270px) {
    #appPageRoot {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 0.8rem minmax(auto, 115rem) 0.8rem 1fr;
        grid-template-rows: 3.4rem 3.4rem 1fr auto auto;
    }
    .Header {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .HeaderLeftBlock {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .HeaderRightBlock {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .ContextTabsWrapper {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .contextManagerPage {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .ActiveTaskSection {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;

        max-height: max(80rem, 100vh - 61rem);
        height: 100%;
        width: 100%;

        padding-left: var(--board-spacing-amount);
        padding-right: var(--board-spacing-amount);

        display: inline-flex;
        justify-content: space-between;
    }
    .BacklogSection {
        display: none;  /* For now. Later we will make the backlog section tab-selectable in the same section as the stats section! */
    }
    .TaskStatisticsSection {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;

        border-top: 1px solid var(--divider-colour);

        display: inline-grid;

        /* 3 evenly spaced columns to define the summary blocks, which contain the radial graphs */
        grid-template-columns: 1fr 1fr 1fr;
        
        /* Top row for the summary blocks, the next three rows for the timeline graphs. Hardcoded heights :) */
        grid-template-rows: 22rem 20rem;
    }
    .TaskStatisticsSection .RadialSummaryBlock {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .TaskStatisticsSection .RadialSummaryBlock ~ .RadialSummaryBlock {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .TaskStatisticsSection .RadialSummaryBlock ~ .RadialSummaryBlock ~ .RadialSummaryBlock {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .TaskStatisticsSection .historyBarChartWrapper {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .Footer {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .board {
        padding: 0.6rem;
        padding-bottom: 0rem;   /* tasks have a margin on the bottom, which will form this spacing instead */
    }
    .ContextTabsWrapper .navigation-tabs-container .navigation-tab {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.8rem;
    }
}
@media (max-width: 800px) {
    #appPageRoot {
        display: grid;
        height: unset;
        grid-template-columns: 1fr 0.4rem minmax(var(--active-tasks-single-board-min-width), var(--active-tasks-single-board-max-width)) 0.4rem 1fr;
        grid-template-rows: 3.4rem 3.4rem auto auto auto;
    }
    .Header {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .HeaderLeftBlock {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .HeaderRightBlock {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .ContextTabsWrapper {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .contextManagerPage {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .ActiveTaskSection {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;

        height: unset;
        width: 100%;

        min-height: 0rem;
        max-height: 1000rem;
        padding-left: 0rem;
        padding-right: 0rem;

        display: inline-flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .board {
        min-height: 10rem;
        max-height: 40rem;
        border-bottom: 0.2rem solid var(--sidebar-background-colour);
        padding: 1rem;
        padding-bottom: 0.4rem;   /* tasks have a margin on the bottom, which will form this spacing instead */
        padding-top: 0.2rem;
    }
    .ContextTabsWrapper .navigation-tabs-container .navigation-tab {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        font-size: 1.4rem;
    }
    .TaskStatisticsSection {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;

        border-top: none;

        display: inline-grid;

        /* 3 evenly spaced columns to define the summary blocks, which contain the radial graphs */
        grid-template-columns: 1fr 1fr;
        
        /* Top row for the summary blocks, the next three rows for the timeline graphs. Hardcoded heights :) */
        grid-template-rows: 22rem 20rem;
    }
    .TaskStatisticsSection .RadialSummaryBlock {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .TaskStatisticsSection .RadialSummaryBlock ~ .RadialSummaryBlock {
        display: none;
    }
    .TaskStatisticsSection .RadialSummaryBlock ~ .RadialSummaryBlock ~ .RadialSummaryBlock {
        display: block;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .TaskStatisticsSection .historyBarChartWrapper {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .Footer {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
    }
}
@media (max-width: 450px) {
    .TaskStatisticsSection .RadialSummaryBlock {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .TaskStatisticsSection .RadialSummaryBlock .summaryBlockFlexContainer {
        justify-content: space-evenly;
    }
    .TaskStatisticsSection .RadialSummaryBlock ~ .RadialSummaryBlock {
        display: none;
    }
    .TaskStatisticsSection .RadialSummaryBlock ~ .RadialSummaryBlock ~ .RadialSummaryBlock {
        display: none;
    }
}
