.Header {
    display: inline-flex;
    justify-content: space-between;
    padding-top: 0.3rem;
}

.greetingText {
    font-size: 1.8rem;
    margin-top: 0.15rem;
}

.signOutButton {
    display: inline-flex;
    cursor: pointer;
}
.signOutButton img {
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    margin-left: 1rem;
}
.signOutButton div {
    margin-top: 0.3rem;
}