.TaskStatisticsSection {
    background-color: var(--editor-background-colour);
}
.TaskStatisticsSection .titleBlock {
    font-size: 1.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.8rem;
}

.summaryBlockFlexContainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.summaryBlockFlexContainer .chartWrapper {
    height: 17.5rem;
    width: 17.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.summaryBlockFlexContainer .statNums {
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.summaryBlockFlexContainer .statNums div {
    padding-bottom: 0rem;
    font-size: 2rem;
}
@media (max-width: 800px) {
    .summaryBlockFlexContainer .statNums div {
        padding-bottom: 0rem;
        font-size: 1.5rem;
    }
}

.TaskStatisticsSection .historyBarChartWrapper {
    padding-right: 0.8rem;
    padding-bottom: 0.2rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}

.TaskStatisticsSection .historyBarChartWrapper .groupingControllerBlock {
    width: 10rem;
    padding-left: 1rem;
    padding-right: 0rem;
    padding-top: 1.6rem;
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.TaskStatisticsSection .historyBarChartWrapper .slider {
    margin-top: 1.6rem;
}
.TaskStatisticsSection .historyBarChartWrapper .slider .text {
    font-size: 1.2rem;
}

.TaskStatisticsSection .historyBarChartWrapper input {
    width: 9rem;
}

.TaskStatisticsSection .historyBarChartWrapper .groupingControllerBlock .button {
    width: 8rem;
    height: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0.6rem;
    cursor: pointer;
    border: 1px solid var(--sidebar-background-colour);
    line-height: 100%;
}
.TaskStatisticsSection .historyBarChartWrapper .groupingControllerBlock .button:hover {
    background-color: var(--sidebar-background-colour);
}

.TaskStatisticsSection .historyBarChartWrapper .axisContainer {
    flex-grow: 0;
    flex-shrink: 0;
    width: 3rem;
}

.TaskStatisticsSection .historyBarChartWrapper .barChartWrapper {
    flex-grow: 1;
    overflow-x: scroll;
    overflow-y: hidden;
}
.TaskStatisticsSection .historyBarChartWrapper .barChartWrapper::-webkit-scrollbar {
    width: 0rem;  /* Width of vertical scrollbars */
    height: 0.8rem; /* Height of horizontal scrollbars */
    color: 'red';
    background-color: var(--editor-background-colour); 
    opacity: 1;
}
.TaskStatisticsSection .historyBarChartWrapper .barChartWrapper::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-background-colour);
    opacity: 0.5;
}

.TaskStatisticsSection .historyBarChartWrapper .barChartWrapper .subChartContainer {
    height: 50%;
    /*width: 300rem; OVERRIDEN IN CODE */
}