.ActiveTaskSection {
    background-color: var(--editor-background-colour);
    border-radius: 0px;

    box-sizing: border-box;

    padding-top: var(--top-padding-amount);
    padding-left: var(--board-spacing-amount);
    padding-right: var(--board-spacing-amount);
}