@import "./ActiveTaskSection.css";

/* Define some global variables to define VSCode colour scheme colours! */
:root {
  --editor-background-colour: #1E1E1E;
  --middle-tone-background-colour: #252526;
  --sidebar-background-colour: #333333;
  --text-colour: #ADADAD;
  --bright-text-colour: #CCCCCC;
  --selected-text-colour: #FFFFFF;
  --dull-text-colour: #7D7D7D;
  --divider-colour: #414141;

  --blue-icon: #007ACC;
  --muted-yellow-icon: #CBCB41;
  --muted-green-icon: #587C0C;
  --light-blue-icon: #36A3F0;

  font-size: 62.5%;
}

* {
  font-size: 1.6rem;
}
button {
  font-size: 1rem;
}
body {
  padding-top: 1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  text-align: center;
  color: var(--bright-text-colour);
  background-color: var(--sidebar-background-colour);
  background-size: cover;
}
h1, h2 {
  display: inline-block;
  font-family: monaco, monospace;
  margin: 0rem;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2rem;
}
span {
  background: #fd0;
}
