/* 'global' variables for spacings, colours, etc. */
#root {
    --top-padding-amount: 0.4rem;
    --board-spacing-amount: 0.8rem;

    --active-tasks-min-total-width: 100rem;
    --active-tasks-min-total-width-when-squashed: 80rem;
    --active-tasks-single-board-max-width: 45rem;
    --active-tasks-single-board-min-width: 30rem;
    --backlog-tasks-total-width: 33.6rem;
    --backlog-tasks-total-width-squashed: 25rem;

    --divider-column-width: 0rem;
    --border-radius: 0rem;
}

/* NOTE: NEED TO USE A SASS PREPROCESSOR TO DO VARIABLE BASED CALCULATION FOR MEDIA QUERIES!
 * CSS DOES NOT SUPPORT VARIABLES IN MEDIA QUERIES NATIVELY! */
@media (min-width: 1270px) {
    #root {
        display: grid;
        grid-template-columns: 1fr auto var(--divider-column-width) minmax(var(--backlog-tasks-total-width-squashed), var(--backlog-tasks-total-width)) 1fr;
    }
    
    .ActiveTaskSection {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        width: 100%;
        min-width: var(--active-tasks-min-total-width);

        display: inline-flex;
        justify-content: space-between;
    }
    .BacklogSection {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;

        box-sizing: border-box;
        width: 100%;

        border-left: 1px solid var(--divider-colour);
        display: inline-flex;
    }
    .TaskStatisticsSection {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        display: inline-flex;

        border-top: 1px solid var(--divider-colour);

        /* TEMP PLACEHOLDER */
        height: 45rem;
    }
    .Footer {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}
@media (max-width: 1270px) {
    #root {
        display: grid;
        grid-template-columns: 1fr minmax(var(--active-tasks-min-total-width-when-squashed), var(--active-tasks-min-total-width)) 1fr;
    }
    
    .ActiveTaskSection {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        width: 100%;

        display: inline-flex;
        justify-content: space-between;
    }
    .BacklogSection {
        display: none;  /* For now. Later we will make the backlog section tab-selectable in the same section as the stats section! */
    }
    .TaskStatisticsSection {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        display: inline-flex;

        border-top: 1px solid var(--divider-colour);

        /* TEMP PLACEHOLDER */
        height: 45rem;
    }
    .Footer {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}
@media (max-width: 800px) {
    #root {
        display: grid;
        grid-template-columns: 1fr minmax(var(--active-tasks-single-board-min-width), var(--active-tasks-single-board-max-width)) 1fr;
    }
    .ActiveTaskSection {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        width: 100%;

        display: inline-flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .Footer {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
